<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
        <title>Sign Up Page</title>
        

    </head>

    <body>
        <div class="container">
            <h2>Sign Up Form</h2>
            <form  action="/dosignup/" method="POST">
                <label for="username">Username</label>
                <input type="text" id="username" name="username">

                <label for="password">Password</label>
                <input type="password" id="password" name="password">
                
                <label for="password">Confirm Password</label>
                <input type="password" id="confirmpassword" name="confirmpassword">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class="flashes">
                    {%for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
                <input type ="submit" class = "signupform" name = 'btnid' value = "Sign Up">
                <input type="submit" class = "signupform" name = 'btnid' value = "Back To Login">
            </form>
        </div>
    </body>
</html>